<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouyang.test.impl.dao.CurstomerOrderExtrMapper">
    <resultMap id="BaseResultMap" type="CurstomerOrderExtr">
        <id column="ORDER_ID" property="orderId" />
        <result column="EXTR_ID"  property="extrId" />
        <result column="STR_VAL"  property="strVal" />
    </resultMap>

    <sql id="Base_Column_List">
        ORDER_ID,EXTR_ID,STR_VAL
    </sql>

    <insert id="save" parameterType="CurstomerOrderExtr">
        insert into CURSTOMER_ORDER_EXTR
        <trim prefix="(" suffix=")" suffixOverrides=",">
             <if test="orderId != null">
                ORDER_ID,
             </if>
             <if test="extrId != null">
                EXTR_ID,
             </if>
             <if test="strVal != null">
                STR_VAL,
             </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
             <if test="orderId != null">
                 #{orderId},
             </if>
             <if test="extrId != null">
                 #{extrId},
             </if>
             <if test="strVal != null">
                 #{strVal},
             </if>
        </trim>
    </insert>

    <delete id="delete">
        DELETE FROM CURSTOMER_ORDER_EXTR WHERE ORDER_ID = #{orderId}
    </delete>

    <update id="update" parameterType="IosChannel">
        update CURSTOMER_ORDER_EXTR
        <set>
            <if test="orderId != null">
                ORDER_ID = #{orderId},
            </if>
            <if test="extrId != null">
                EXTR_ID = #{extrId},
            </if>
            <if test="strVal != null">
                STR_VAL = #{strVal},
            </if>
        where ORDER_ID = #{orderId}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from CURSTOMER_ORDER_EXTR
        where ORDER_ID = #{orderId}
    </select>
</mapper>