<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouyang.test.impl.dao.CurstomerOrderMapper">
    <resultMap id="BaseResultMap" type="CurstomerOrder">
        <id column="ORDER_ID" property="orderId" />
        <result column="MID"  property="mid" />
        <result column="CATEGORY_ID"  property="categoryId" />
        <result column="SERISE_ID"  property="seriseId" />
        <result column="CUSTOMER"  property="customer" />
        <result column="AREA"  property="area" />
        <result column="CREATE_TIME"  property="createTime" />
        <result column="DONE_TIME"  property="doneTime" />
        <result column="UPDATE_TIME"  property="updateTime" />
        <result column="STATUS"  property="status" />
        <result column="CONTENT"  property="content" />
        <result column="PICS"  property="pics" />
        <result column="USEFUL"  property="useful" />
    </resultMap>

    <sql id="Base_Column_List">
        ORDER_ID,MID,CATEGORY_ID,SERISE_ID,CUSTOMER,AREA,CREATE_TIME,DONE_TIME,UPDATE_TIME,STATUS,CONTENT,PICS,USEFUL
    </sql>

    <insert id="save" parameterType="CurstomerOrder">
        insert into CURSTOMER_ORDER
        <trim prefix="(" suffix=")" suffixOverrides=",">
             <if test="orderId != null">
                ORDER_ID,
             </if>
             <if test="mid != null">
                MID,
             </if>
             <if test="categoryId != null">
                CATEGORY_ID,
             </if>
             <if test="seriseId != null">
                SERISE_ID,
             </if>
             <if test="customer != null">
                CUSTOMER,
             </if>
             <if test="area != null">
                AREA,
             </if>
             <if test="createTime != null">
                CREATE_TIME,
             </if>
             <if test="doneTime != null">
                DONE_TIME,
             </if>
             <if test="updateTime != null">
                UPDATE_TIME,
             </if>
             <if test="status != null">
                STATUS,
             </if>
             <if test="content != null">
                CONTENT,
             </if>
             <if test="pics != null">
                PICS,
             </if>
             <if test="useful != null">
                USEFUL,
             </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
             <if test="orderId != null">
                 #{orderId},
             </if>
             <if test="mid != null">
                 #{mid},
             </if>
             <if test="categoryId != null">
                 #{categoryId},
             </if>
             <if test="seriseId != null">
                 #{seriseId},
             </if>
             <if test="customer != null">
                 #{customer},
             </if>
             <if test="area != null">
                 #{area},
             </if>
             <if test="createTime != null">
                 #{createTime},
             </if>
             <if test="doneTime != null">
                 #{doneTime},
             </if>
             <if test="updateTime != null">
                 #{updateTime},
             </if>
             <if test="status != null">
                 #{status},
             </if>
             <if test="content != null">
                 #{content},
             </if>
             <if test="pics != null">
                 #{pics},
             </if>
             <if test="useful != null">
                 #{useful},
             </if>
        </trim>
    </insert>

    <delete id="delete">
        DELETE FROM CURSTOMER_ORDER WHERE ORDER_ID = #{orderId}
    </delete>

    <update id="update" parameterType="IosChannel">
        update CURSTOMER_ORDER
        <set>
            <if test="orderId != null">
                ORDER_ID = #{orderId},
            </if>
            <if test="mid != null">
                MID = #{mid},
            </if>
            <if test="categoryId != null">
                CATEGORY_ID = #{categoryId},
            </if>
            <if test="seriseId != null">
                SERISE_ID = #{seriseId},
            </if>
            <if test="customer != null">
                CUSTOMER = #{customer},
            </if>
            <if test="area != null">
                AREA = #{area},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime},
            </if>
            <if test="doneTime != null">
                DONE_TIME = #{doneTime},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime},
            </if>
            <if test="status != null">
                STATUS = #{status},
            </if>
            <if test="content != null">
                CONTENT = #{content},
            </if>
            <if test="pics != null">
                PICS = #{pics},
            </if>
            <if test="useful != null">
                USEFUL = #{useful},
            </if>
        where ORDER_ID = #{orderId}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from CURSTOMER_ORDER
        where ORDER_ID = #{orderId}
    </select>
</mapper>