<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouyang.test.impl.dao.CustomerFaqMapper">
    <resultMap id="BaseResultMap" type="CustomerFaq">
        <id column="ID" property="id" />
        <result column="CATEGORY_ID"  property="categoryId" />
        <result column="SERISE_ID"  property="seriseId" />
        <result column="TITLE"  property="title" />
        <result column="CONTENT"  property="content" />
        <result column="STATUS"  property="status" />
        <result column="FIRST_PAGE"  property="firstPage" />
        <result column="SORT"  property="sort" />
        <result column="VIEW_COUNT"  property="viewCount" />
        <result column="USEFUL_COUNT"  property="usefulCount" />
        <result column="UNUSEFUL_COUNT"  property="unusefulCount" />
    </resultMap>

    <sql id="Base_Column_List">
        ID,CATEGORY_ID,SERISE_ID,TITLE,CONTENT,STATUS,FIRST_PAGE,SORT,VIEW_COUNT,USEFUL_COUNT,UNUSEFUL_COUNT
    </sql>

    <insert id="save" parameterType="CustomerFaq">
        insert into CUSTOMER_FAQ
        <trim prefix="(" suffix=")" suffixOverrides=",">
             <if test="id != null">
                ID,
             </if>
             <if test="categoryId != null">
                CATEGORY_ID,
             </if>
             <if test="seriseId != null">
                SERISE_ID,
             </if>
             <if test="title != null">
                TITLE,
             </if>
             <if test="content != null">
                CONTENT,
             </if>
             <if test="status != null">
                STATUS,
             </if>
             <if test="firstPage != null">
                FIRST_PAGE,
             </if>
             <if test="sort != null">
                SORT,
             </if>
             <if test="viewCount != null">
                VIEW_COUNT,
             </if>
             <if test="usefulCount != null">
                USEFUL_COUNT,
             </if>
             <if test="unusefulCount != null">
                UNUSEFUL_COUNT,
             </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
             <if test="id != null">
                 #{id},
             </if>
             <if test="categoryId != null">
                 #{categoryId},
             </if>
             <if test="seriseId != null">
                 #{seriseId},
             </if>
             <if test="title != null">
                 #{title},
             </if>
             <if test="content != null">
                 #{content},
             </if>
             <if test="status != null">
                 #{status},
             </if>
             <if test="firstPage != null">
                 #{firstPage},
             </if>
             <if test="sort != null">
                 #{sort},
             </if>
             <if test="viewCount != null">
                 #{viewCount},
             </if>
             <if test="usefulCount != null">
                 #{usefulCount},
             </if>
             <if test="unusefulCount != null">
                 #{unusefulCount},
             </if>
        </trim>
    </insert>

    <delete id="delete">
        DELETE FROM CUSTOMER_FAQ WHERE ID = #{id}
    </delete>

    <update id="update" parameterType="IosChannel">
        update CUSTOMER_FAQ
        <set>
            <if test="id != null">
                ID = #{id},
            </if>
            <if test="categoryId != null">
                CATEGORY_ID = #{categoryId},
            </if>
            <if test="seriseId != null">
                SERISE_ID = #{seriseId},
            </if>
            <if test="title != null">
                TITLE = #{title},
            </if>
            <if test="content != null">
                CONTENT = #{content},
            </if>
            <if test="status != null">
                STATUS = #{status},
            </if>
            <if test="firstPage != null">
                FIRST_PAGE = #{firstPage},
            </if>
            <if test="sort != null">
                SORT = #{sort},
            </if>
            <if test="viewCount != null">
                VIEW_COUNT = #{viewCount},
            </if>
            <if test="usefulCount != null">
                USEFUL_COUNT = #{usefulCount},
            </if>
            <if test="unusefulCount != null">
                UNUSEFUL_COUNT = #{unusefulCount},
            </if>
        where ID = #{id}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from CUSTOMER_FAQ
        where ID = #{id}
    </select>
</mapper>