<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouyang.test.impl.dao.CustomerOrderRecordMapper">
    <resultMap id="BaseResultMap" type="CustomerOrderRecord">
        <id column="ID" property="id" />
        <result column="ORDER_ID"  property="orderId" />
        <result column="RECORD_TYPE"  property="recordType" />
        <result column="OPEROTER"  property="operoter" />
        <result column="CREATE_TIME"  property="createTime" />
        <result column="PROCESS"  property="process" />
    </resultMap>

    <sql id="Base_Column_List">
        ID,ORDER_ID,RECORD_TYPE,OPEROTER,CREATE_TIME,PROCESS
    </sql>

    <insert id="save" parameterType="CustomerOrderRecord">
        insert into CUSTOMER_ORDER_RECORD
        <trim prefix="(" suffix=")" suffixOverrides=",">
             <if test="id != null">
                ID,
             </if>
             <if test="orderId != null">
                ORDER_ID,
             </if>
             <if test="recordType != null">
                RECORD_TYPE,
             </if>
             <if test="operoter != null">
                OPEROTER,
             </if>
             <if test="createTime != null">
                CREATE_TIME,
             </if>
             <if test="process != null">
                PROCESS,
             </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
             <if test="id != null">
                 #{id},
             </if>
             <if test="orderId != null">
                 #{orderId},
             </if>
             <if test="recordType != null">
                 #{recordType},
             </if>
             <if test="operoter != null">
                 #{operoter},
             </if>
             <if test="createTime != null">
                 #{createTime},
             </if>
             <if test="process != null">
                 #{process},
             </if>
        </trim>
    </insert>

    <delete id="delete">
        DELETE FROM CUSTOMER_ORDER_RECORD WHERE ID = #{id}
    </delete>

    <update id="update" parameterType="IosChannel">
        update CUSTOMER_ORDER_RECORD
        <set>
            <if test="id != null">
                ID = #{id},
            </if>
            <if test="orderId != null">
                ORDER_ID = #{orderId},
            </if>
            <if test="recordType != null">
                RECORD_TYPE = #{recordType},
            </if>
            <if test="operoter != null">
                OPEROTER = #{operoter},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime},
            </if>
            <if test="process != null">
                PROCESS = #{process},
            </if>
        where ID = #{id}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from CUSTOMER_ORDER_RECORD
        where ID = #{id}
    </select>
</mapper>