<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    
    <property name="LOG_DIR" value="/home/downjoy/logs/vip"/>

    <!-- 控制台日志 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%5level] %logger{36} [%file:%line] - %msg%n</Pattern>
        </encoder>
        <charset>UTF-8</charset>
    </appender>

    <!-- 运行日志 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
           <fileNamePattern>${LOG_DIR}/context_vip.log.%d{yyyy-MM-dd}</fileNamePattern>
           <maxHistory>30</maxHistory>
       </rollingPolicy> 
       <encoder>
           <Pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%5level] %logger{36} [%file:%line] - %msg%n</Pattern>
       </encoder>
        <charset>UTF-8</charset>
    </appender>

    <logger name="vipLogger" level="info" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <root level="INFO`b">
        <appender-ref ref="CONSOLE" />
        <!--<appender-ref ref="FILE" />-->
    </root>

</configuration>