package ${data.packageName}.impl.dao;

import ${data.packageName}.to.${data.tableName};

public interface ${data.tableName}Mapper {
    int save(${data.tableName} ${data.tableNameLower});

    ${data.tableName} selectByPrimaryKey(${data.primaryField.fieldType} ${data.primaryField.fieldName});

    int delete(${data.primaryField.fieldType} ${data.primaryField.fieldName});

    int update(${data.tableName} ${data.tableNameLower});
}