package ${data.packageName}.to;

import ${data.packageName}.baseto.BaseTO;

/**
* @author Mr. xi.yang<br/>
* @version V1.0 <br/>
* @description: ${data.content} <br/>
* @date ${data.createTime} <br/>
*/
public class ${data.toName} extends BaseTO {
#foreach($field in ${data.propFields})
    /**
    * ${field.content}
    */
    private ${field.fieldTypeString} ${field.fieldName};
#end

#foreach($field in ${data.propFields})
    public ${field.fieldTypeString} ${field.getMethodTarget}${field.firstUpFieldName}(){
        return ${field.fieldName};
    }
    public void set${field.firstUpFieldName}(${field.fieldTypeString} ${field.fieldName}) {
        this.${field.fieldName} = ${field.fieldName};
    }
#end
}