<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${data.packageName}.impl.dao.${data.toName}Mapper">
    <resultMap id="BaseResultMap" type="${data.toName}">
#foreach($field in${data.propFields})
#if($field.primary)
        <id column="${field.sqlFieldName}" property="${field.fieldName}" />
#else
        <result column="${field.sqlFieldName}"  property="${field.fieldName}" />
#end
#end
    </resultMap>

    <sql id="Base_Column_List">
        ##
#foreach($field in${data.propFields})##
${field.sqlFieldName}##
#if($!{velocityHasNext})##
,##
#end##
#end

    </sql>

    <insert id="save" parameterType="${data.toName}">
        insert into ${data.tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
#foreach($field in${data.propFields})##
             <if test="${field.fieldName} != null">
                ${field.sqlFieldName},
             </if>
#end##
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
#foreach($field in${data.propFields})##
             <if test="${field.fieldName} != null">
                 #{${field.fieldName}},
             </if>
#end##
        </trim>
    </insert>

    <delete id="delete">
        DELETE FROM ${data.tableName} WHERE ${data.primaryField.sqlFieldName} = #{${data.primaryField.fieldName}}
    </delete>

    <update id="update" parameterType="IosChannel">
        update ${data.tableName}
        <set>
#foreach($field in${data.propFields})##
            <if test="${field.fieldName} != null">
                ${field.sqlFieldName} = #{${field.fieldName}},
            </if>
#end##
        where ${data.primaryField.sqlFieldName} = #{${data.primaryField.fieldName}}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from ${data.tableName}
        where ${data.primaryField.sqlFieldName} = #{${data.primaryField.fieldName}}
    </select>
</mapper>