<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${bean.packageName}.impl.dao.${bean.tabelName}Mapper">
    <resultMap id="BaseResultMap" type="${bean.tabelName}">
#foreach($field in${table.fields})
#if($field.prikey)
    <id column="${field.fieldName}" property="${field.propertyName}" />
#else
    <result column="${field.fieldName}"  property="${field.propertyName}" />
#end
#end
    </resultMap>

    <sql id="Base_Column_List">
#foreach($field in${table.fields})
        ${field.fieldName},
#end
    </sql>

    <insert id="save" parameterType="IosChannel">
        insert into IOS_CHANNEL
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="channelId != null">
                CHANNEL_ID,
            </if>
            <if test="manualPkgUrl != null">
                MANUAL_PKG_URL,
            </if>
            <if test="channelPkgUrl != null">
                CHANNEL_PKG_URL,
            </if>
            <if test="sort != null">
                SORT,
            </if>
            <if test="operator != null">
                OPERATOR,
            </if>
            <if test="createdDate != null">
                CREATED_DATE,
            </if>
            <if test="publishDate != null">
                PUBLISH_DATE,
            </if>
            <if test="iosCatagoryId != null">
                IOS_CATAGORY_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="channelId != null">
                #{channelId},
            </if>
            <if test="manualPkgUrl != null">
                #{manualPkgUrl},
            </if>
            <if test="channelPkgUrl != null">
                #{channelPkgUrl},
            </if>
            <if test="sort != null">
                #{sort},
            </if>
            <if test="operator != null">
                #{operator},
            </if>
            <if test="createdDate != null">
                #{createdDate},
            </if>
            <if test="publishDate != null">
                #{publishDate},
            </if>
            <if test="iosCatagoryId != null">
                #{iosCatagoryId},
            </if>
        </trim>
    </insert>

    <delete id="delete">
        DELETE FROM ${data.tableName} WHERE CHANNEL_ID = #{channelId}
    </delete>

    <update id="update" parameterType="IosChannel">
        update IOS_CHANNEL
        <set>
            <if test="manualPkgUrl != null">
                MANUAL_PKG_URL = #{manualPkgUrl},
            </if>
            <if test="channelPkgUrl != null">
                CHANNEL_PKG_URL = #{channelPkgUrl},
            </if>
            <if test="sort != null">
                SORT = #{sort},
            </if>
            <if test="operator != null">
                OPERATOR = #{operator},
            </if>
            <if test="publishDate != null">
                PUBLISH_DATE = #{publishDate},
            </if>
            <if test="iosCatagoryId != null">
                IOS_CATAGORY_ID = #{iosCatagoryId},
            </if>
        </set>
        where CHANNEL_ID = #{channelId}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from IOS_CHANNEL iosChannel , CHANNEL channel
        where iosChannel.CHANNEL_ID = #{channelId} AND iosChannel.CHANNEL_ID = channel.ID
    </select>
</mapper>