#foreach($table in ${data})
CREATE TABLE `$table.tableName` (
#foreach($field in ${table.propFields})
    `$field.sqlFieldName` $field.sqlType.name ##
#if($field.sqlType.defLength)##
( ##
#if($field.fieldLength > 0)##
$field.fieldLength ##
#else##
$field.sqlType.defLength ##
#end##
) ##
#end##
#if($field.allowNull == false)##
NOT NULL ##
#end##
#if($field.defaultValue)##
DEFAULT $field.defaultValue ##
#end##
#if($field.autoIncrement)##
AUTO_INCREMENT ##
#end##
COMMENT '$field.content'##
#if($!{velocityHasNext})
,
#else

#end
#end##
#if($table.primaryKey)##
  ,  PRIMARY KEY (`$table.primaryKey`)
#end##
);

#end